@import "generic/reset";

/*  settings */
@import "settings/colors";
@import "settings/fonts";
@import "settings/screen";

/* elements */
@import "elements/index";
@import "elements/base";
@import "elements/about";
@import "elements/contact";