.about{
   

    .about{
        justify-content: center;

        .about{
            width: auto;
            height: auto;
            padding: 10%;
            @media(min-width:$lg){

                padding-bottom: auto;
                
            }
            h1{
            
                line-height: 28px;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            p{
                display: block;
                padding: 7px 0;
                text-align: center;
                line-height: 28px;
                font-size: 1rem;
                
            }
        }
    }
    

}