.contact{
   
    .contact{
        justify-content: center;
       

        .contact{
            display: block;
            display: flex;
            align-items: center;
            flex-direction: column;

            @media(min-width:$lg){
                margin-left: -7%;
                align-items: flex-start;
                justify-content: flex-end;
                padding-bottom: 0;
                height: 40%
            }
            h1{
                text-align: center;
                line-height: 28px;
                font-size: 32px;
                margin-bottom: 2rem;
            }
            p{
                display: block;
                padding: 7px 0;
                text-align: center;
                line-height: 28px;
                font-size: 18px;
                text-align: start;
            }
        }
    }  
    .active{
        .contact{
            display: none;
        }
    } 

}