.container{
    background-color: $white;
    width: 100%;
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .navigation_hamburger{
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: aqua;

        .hamburger_menu_box{
            cursor: pointer;
            background-color: $white;
            width: 50px;
            padding: 20px;
            

            .hamburger_menu{
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3,3fr);

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                    
                }
            }
            .active{
                background-color: $black;
                div{
                    background-color: $white;
                    &.black{
                        opacity:0;
                    }
                }
        
            }
        }
    }

    .main_box{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(min-width:$md){
            flex-direction: row;
        }
        
        .white_logo{
            display: block;
            padding:5%;
            width: 70%;
            @media(min-width: $md){
                width: 50%;
            }
            
        }
        .black_logo{
            display: none;
        }
        .navigation{
            display: none;
        }
        .text{
            background-color: cornflowerblue;
            text-align: center;
            height: 200px;
            @media(min-width:$md){
                text-align: start;
            }
            h1, span{
                display: block;
                padding: 7px 0;
                
                line-height: 28px;
                font-size: 32px;
            }
        }
    }
    .active{
        .white_logo{
            display: none;
        }
        .black_logo{
            display: block;
            padding:5%;
            width: 70%;
            @media(min-width: $md){
                width: 50%;
            }
        }
        .navigation{
            display: block;
            font-size: 32px;
            line-height: 28px;
            padding: 7px 0;
            background-color: transparent;
            text-align: center;
            height: 200px;
            background-color: violet;
            @media(min-width:$md){
                text-align: start;
            }
            a{
                display: block;
                text-decoration: none;
            }
        }
        .text{
            display: none;
        }
    }
    footer{
        background-color: burlywood;
    }

}
.active{
    background-color: $black;
    animation-name: opacity;
    animation-duration: 1000ms;

}