

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .logo{

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        box-sizing: border-box;
           
        .white_logo{
                width: 100%;
                display: block;
                padding: 10%;
                // position: relative;
        }


        .black_logo {
            display: none;
        }
        .navigation{
            display: none;
        }
        .text{
            display: block;
            font: $font-base;
            color: $black;
            font-size: 2.8rem;
            // position: absolute;
            // right: 15.5%;
            // top: 48.5%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            background-color: transparent;
            // @media(max-width:$xxl){
            //     right: 5%;
            // }
            h1, span{
                display: block;
                padding: 7px 0;
            }
        }

    }
    .active{


        .white_logo{
            display: none;
        }
        .black_logo {
            width: 100%;
            display: block;
            padding: 10%;
            // position: relative;
        }
        .navigation{
            display:block;
            // position: absolute;
            // right: 15.5%;
            // top: 48.5%;
            // @media(max-width:$xxl){
                
            // }

            
            // ul{
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     align-items: flex-start;

            //     li{
                   
            //        font-size: 2.8rem;
            //        padding: 7px 0;
            //         a {
            //             text-decoration: none;
            //             color: $white;
            //         }

            //     }
            // }

        }
        .text{
            display: none;
        }
    }
    }
    .navigation_box{
 
        width: 20%;
        height: 100%;
        
        .hamburger_menu_box{
            cursor: pointer;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10%;

            .hamburger_menu{
                margin-top: 15%;
               
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);
                

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                }
            }

            .active{
                margin-top: 15%;
               
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                }
                .black_white{
                    background-color: white;
                }
            }


        }

    }


.active{
    background-color: $black;
}