.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_image{
        display: flex;
        justify-content: center;
        align-items: center;
        .white_logo_text{
            display: block;
            width: 80%;

        }
        .black_logo{
            display: none;
        }
    }

    .navigation_box{
 
        width: 20%;
        height: 100%;
        background-color: aqua;
        .hamburger_menu_box{
            background-color: blue;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            

            .hamburger_menu{
                width: 100%;
                background-color: blueviolet;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);
                

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                }
            }


        }
        .navigation{
            display: none;
        }
    }
}