.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        .white_logo_text{
            display: block;
            padding-left: 10%;
        }

        .black_logo {
            display: none;
        }

    }
    .active{
        display: flex;
        justify-content: center;
        align-items: center;


        .white_logo_text{
            display: none;
        }
        .black_logo {
            display: block;
            padding-left: 10%;
        }
    }

    .navigation_box{
 
        width: 20%;
        height: 100%;
        
        .hamburger_menu_box{
            cursor: pointer;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10%;

            .hamburger_menu{
                margin-top: 15%;
               
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);
                

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                }
            }

            .active{
                margin-top: 15%;
               
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                }
                .black_white{
                    background-color: white;
                }
            }


        }
        .navigation{
            display: none;
        }
    }
}
.active{
    background-color: $black;
}