.container{
    background-color: $white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 1s;
    overflow: hidden;
    // animation-name: opacity;
    // animation-duration: 1000ms;

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;


    @media(min-width:$lg){
        flex-direction: row;
    }

        .white_logo{
            box-sizing: border-box;
            width: 100%;
            display: block;
            padding: 10%;
            animation: opacity 1s;
            @media(min-width:$md){
                width: 80%;
            }

        @media(min-width:$lg){
            width: 70%;
        }
        }
        .black_logo{
            display: none;
        }
        .navigation{
            display: none;
        }
        .text{
            display: block;
            color: $black;
            font-size: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: transparent;
            padding-bottom: 10%;
            @media(min-width:$lg){
                margin-left: -7%;
                align-items: flex-start;
                justify-content: flex-end;
                padding-bottom: 0;
                height: 40%
            }
            h1, span{
                display: block;
                padding: 7px 0;
                text-align: center;
                line-height: 28px;
            }
        }
    }

    .active{
           
        .white_logo{
            display: none;
            
            
        }
        .black_logo{
            box-sizing: border-box;
            width: 100%;
            display: block;
            padding: 10%;
            animation: opacity 1s;

            @media(min-width:$md){
                width: 80%;
            }
            @media(min-width:$lg){
                width: 70%;
            }
        }
        .navigation{
            display: block;
            font-size: 2rem;
            background-color: transparent;
           
            
            @media(min-width:$lg){
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: -7%;
                
            }

            ul{
                display: flex;
                flex-direction: column;
                align-items: center;

                @media(min-width:$lg){
                    align-items: flex-start;
                }

                li{
                    padding:5px 0;
                    a{
                        text-decoration: none;
                        color: $white;
                        font-size: 2rem;
                        //animation
                        position: relative;
                        display: block;
                        transition: 1s;

                    
                        &::after{

                            content: "";
                            position: absolute;
                            top:100%;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $white;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 1s;
                            margin: 5px;
                        }
                        &:hover{
                            color: $white;
                            transform: scale(110%);
                            font-weight: bold;
                        }
                        &:hover::after{
                            transform:scaleX(1);
                            transform-origin: left;
                        }
                    }
                }
            }
        }
        .text{
            display: none;
        }
    }

    .navigation_hamburger{
        width: 100%;
        padding-top: 5%;

        .hamburger_menu_box{
            cursor: pointer;
            width: 90%;
            display: flex;
            justify-content: flex-end;
            
            

            .hamburger_menu{
                margin-top: 5%;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(3, 3fr);
                
                }

                div{
                    width: 10px;
                    height: 10px;
                    background-color: $black;
                    margin: 1%;
                    display: inline-block;
                    transition: all 2500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }

            .active{
                background-color: $black;
                div{
                    background-color: $white;
                    &.black{
                        opacity:0;
                    }
                }
        
            }
        }
    }


.active{
    background-color: $black;
    animation-name: opacity;
    animation-duration: 1000ms;

}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@keyframes opacity-reverse{
    0%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}